@model IEnumerable<diagnosisDTO>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>会诊列表</title>
</head>
<body>
    <a href="~/diagnosis/GetByAll">GetByAll</a> 
    <a href="~/diagnosis/GetBydia_patient">GetBydia_patient</a> 
    <a href="~/diagnosis/GetBydoc_ID">GetBydoc_ID</a> 
    <a href="~/diagnosis/GetByvisit_ID">GetByvisit_ID</a>
    <table>
        <thead>
            <tr>><td>删除</td><<td>doc_ID</td><td>dia_patient</td><td>visit_ID</td><td>med_ID</td><td>med_Num</td><td>date</td><td>result</td></tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <a href="~/diagnosis/Delete?doc_ID=@p.doc_ID dia_patient = @p.dia_patient visit_ID = @p.visit_ID"
                       onclick="return confirm('是否删除此条记录？');">删除</a>
                    <td>@p.doc_ID</td>
                    <td>@p.dia_patient</td>
                    <td>@p.visit_ID</td>
                    <td>@p.med_ID</td>
                    <td>@p.med_Num</td>
                    <td>@p.date</td>
                    <td>@p.result</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
